body {
    background-image: url("background.jpg");
    background-size: auto;
}

.header {
    width: 1280px;
    position: fixed;
    top: 0;
}

* {
    padding: 0;
    margin: 0;
}

p {
    color: black;
    background-color: lightpink;
    border-radius: 10px;
    padding: 20px 20px 20px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p:hover {
    background-color: white;
    transition: 0.3s ease;
    font-size: 20.5px;
    box-shadow: 2px 3px 5px black;
}

ul li {
    background-color: lightpink;
    box-shadow: 2px 3px 5px hotpink;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    list-style-type:decimal;
    list-style-position: inside;
    padding: 10px 10px;
}
ul li:hover{
    transition: 0.3s ease;
    background-color: rgb(207, 172, 238);
    box-shadow: 2px 3px 5px purple;
    padding: 15px 15px;
}

.footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

h2 {
    color: white;
    background-color:cornflowerblue;
    border-radius: 25px;
    font-family: cursive;
}

h2:hover {
    font-size: 25px;
    text-shadow: 2px 3px 5px black;
    transition: 0.3s ease;
}

.button {
    position: fixed;
    top: 0;
    right: 0;
}

.button:hover {
    filter: drop-shadow(0 8px 15px orange);
    transition: filter 0.3s ease;
}

.column {
    margin: 150px;
    margin-bottom: 20px;
}